/* .expense-type {
  display: flex;
  justify-content: space-between;
} */
.expense-btn-layout {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.expense-type-btn button {
  border-radius: 5px;
  border: 1px solid #fff;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.21) 0%,
      rgba(0, 0, 0, 0.21) 100%
    ),
    rgba(214, 214, 214, 0.01);
  background-blend-mode: luminosity, color-burn;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 92px;
}

/* Commission Table */

.com-table-container {
  margin-top: 30px;
}

.com-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.com-table-container .drop-table-container tr {
  border: none;
}

.row-down img {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

/* Salary Table */

.salary-table-container {
  margin-top: 30px;
}

.salary-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.ex-export-sec {
  display: none;
}

/* Miscellaneous Table */

.miscel-table-container {
  margin-top: 30px;
}

.miscel-table-container table {
  width: 100%;
  border-collapse: collapse;
}

/* Responsive */

@media screen and (min-width: 1024px) {
  /* Expenses */
  .expense-type {
    margin: 120px 0 0 300px;
    display: flex;
    justify-content: space-between;
    /* justify-content: justify-content; */
  }
  .expense-btn-layout {
    justify-content: start;
    gap: 20px;
  }
  .expense-type-btn button {
    width: 120px;
  }
  .expense-type-btn button:hover {
    cursor: pointer;
  }
  .ex-export-sec {
    display: flex;
    margin-right: 20px;
  }

  /* Commission Table */
  .com-table-container,
  .salary-table-container,
  .miscel-table-container {
    margin: 40px 20px 0 300px;
  }
  .com-table-container thead tr,
  .salary-table-container thead tr,
  .miscel-table-container thead tr {
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.21) 0%,
        rgba(0, 0, 0, 0.21) 100%
      ),
      rgba(214, 214, 214, 0.01);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 0.49px 0px 0px 0px rgba(84, 84, 88, 0.65);
  }
  .com-table-container thead th,
  .salary-table-container thead th,
  .miscel-table-container thead th {
    color: #fff;
    font-size: 16px;
    padding: 25px;
  }
  .com-table-container tbody tr,
  .salary-table-container tbody tr,
  .miscel-table-container tbody tr {
    border-radius: 0px 8px 8px 0px;
    background: rgba(255, 255, 255, 0.15);
    background-blend-mode: luminosity;
    box-shadow: 0.49px 0px 0px 0px rgba(84, 84, 88, 0.65);
  }
  .com-table-container tbody td,
  .salary-table-container tbody td,
  .miscel-table-container tbody td {
    font-size: 16px;
    padding: 20px;
  }
  .row-down img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  /* Commission drop down */
  .com-table-container .drop-table-container thead tr {
    background: none;
  }
  .com-table-container .drop-table-container thead th {
    color: #313131;
  }

  /* Salary Table */
}
