.scale {
  width: auto;
  margin: 20px 40px 20px 270px;
  border-radius: 0px 0px 18px 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.21) 0%,
      rgba(0, 0, 0, 0.21) 100%
    ),
    rgba(214, 214, 214, 0.01);
  background-blend-mode: luminosity, color-burn;
  box-shadow: 0.49px 0px 0px 0px rgba(84, 84, 88, 0.65);
}

.scale-sec {
  padding: 20px 30px;
}

.scale_Data {
  display: flex;
  justify-content: space-between;
}

.item-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.item-count {
  /* margin-top: 15px; */
}

.scale_Items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scale_Items img {
  width: 20px;
  height: 20px;
}

.scale_Items span {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #48505e;
  padding: 5px;
}

@media screen and (min-width: 1200px) {
  .scale-sec {
    padding: 20px 40px;
  }
  .item-heading {
    font-size: 20px;
  }
  .scale_Items span {
    font-size: 16px;
  }
}
