.table_Head {
  margin-left: 20px;
}

.table_Head h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container tbody tr {
  border-top: 20px solid #fff;
}

.proj-status {
  display: none;
}

/* .table-container table th.tower-number,
.table-container table th.flat-number,
.table-container table th.villa-number,
.table-container table th.plot-number,
.table-container table th.sq-yards,
.table-container table th.proj-status,
.table-container table td.tower-number,
.table-container table td.flat-number,
.table-container table td.villa-number,
.table-container table td.plot-number,
.table-container table td.sq-yards,
.table-container table td.proj-status {
  display: none;
} */

/* tbody td {
  background: #f2f2f2;
} */

.actions button {
  display: none;
}

/* thead tr {
  background: #1366d9;
} */

thead th {
  color: #fff;
}

th,
td {
  padding: 10px;
  /* border: 1px solid #ddd; */
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #222121;
}

tr {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 90px 0 90px;
}

.pagination img:hover {
  cursor: pointer;
}

.pagination span {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  cursor: auto;
}

@media screen and (min-width: 1024px) {
  .table {
    border-radius: 9.993px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.21) 0%,
        rgba(0, 0, 0, 0.21) 100%
      ),
      rgba(214, 214, 214, 0.01);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 0.5px 0px 0px 0px rgba(84, 84, 88, 0.65);
    margin: 20px 40px 20px 270px;
  }

  .table_Sec {
    padding: 20px;
  }

  .table_Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table_Head h1 {
    /* font-family: "Poppins"; */
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.96);
    margin-bottom: 30px;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-container tbody tr {
    border-top: none;
  }

  /* tbody td,
  thead tr {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.21) 0%,
        rgba(0, 0, 0, 0.21) 100%
      ),
      rgba(214, 214, 214, 0.01);
    background-blend-mode: luminosity, color-burn;
  } */

  thead th {
    color: #fff;
  }

  th,
  td {
    padding: 10px;
    /* border: 1px solid #ddd; */
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
  }

  tr {
    text-align: center;
  }

  .table-container table tbody tr {
    border-top: 1px solid #fff;
  }

  .actions {
    display: flex;
    gap: 10px;
  }

  .actions button {
    display: block;
    margin-left: auto;
    width: 110px;
    font-size: 14px;
    padding: 10px;
    background-color: #1366d9;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .file-actions button {
    width: 110px;
    font-size: 14px;
    padding: 10px;
    color: #48505e;
    border: 1px solid #d0d3d9;
    background: #fff;
    border-radius: 4px;
  }

  .actions :hover {
    cursor: pointer;
  }

  /* .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }


  .pagination :hover {
    cursor: pointer;
  }

  .pagination span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #48505e;
  } */

  .proj-status {
    display: table-cell;
  }

  /* .table-container table th.tower-number,
  .table-container table th.flat-number,
  .table-container table th.villa-number,
  .table-container table th.plot-number,
  .table-container table th.sq-yards,
  .table-container table th.proj-status,
  .table-container table td.tower-number,
  .table-container table td.flat-number,
  .table-container table td.villa-number,
  .table-container table td.plot-number,
  .table-container table td.sq-yards,
  .table-container table td.proj-status {
    display: table-cell;
  } */
}
